* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',
    sans-serif;
  outline: none;
}

html {
  user-select: none;
  font-size: 10px;
}

body {
  background: rgb(47, 47, 47);
}