* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(rgb(0, 68, 255), rgb(0, 195, 255));
}