.landscape {
  height: 100%;
}

.landscape__grassland {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  background: url("../img/grassland.png") no-repeat top;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

@-webkit-keyframes grassWind-close {
  0% {
    -webkit-transform: translate(-50%, 20%) scale(2) skew(-6deg);
            transform: translate(-50%, 20%) scale(2) skew(-6deg);
  }
  50% {
    -webkit-transform: translate(-50%, 20%) scale(2) skew(6deg);
            transform: translate(-50%, 20%) scale(2) skew(6deg);
  }
  100% {
    -webkit-transform: translate(-50%, 20%) scale(2) skew(-6deg);
            transform: translate(-50%, 20%) scale(2) skew(-6deg);
  }
}

@keyframes grassWind-close {
  0% {
    -webkit-transform: translate(-50%, 20%) scale(2) skew(-6deg);
            transform: translate(-50%, 20%) scale(2) skew(-6deg);
  }
  50% {
    -webkit-transform: translate(-50%, 20%) scale(2) skew(6deg);
            transform: translate(-50%, 20%) scale(2) skew(6deg);
  }
  100% {
    -webkit-transform: translate(-50%, 20%) scale(2) skew(-6deg);
            transform: translate(-50%, 20%) scale(2) skew(-6deg);
  }
}

@-webkit-keyframes grassWind-normal {
  0% {
    -webkit-transform: translate(-50%, 20%) scale(1.75) skew(6deg);
            transform: translate(-50%, 20%) scale(1.75) skew(6deg);
  }
  50% {
    -webkit-transform: translate(-50%, 20%) scale(1.75) skew(-6deg);
            transform: translate(-50%, 20%) scale(1.75) skew(-6deg);
  }
  100% {
    -webkit-transform: translate(-50%, 20%) scale(1.75) skew(6deg);
            transform: translate(-50%, 20%) scale(1.75) skew(6deg);
  }
}

@keyframes grassWind-normal {
  0% {
    -webkit-transform: translate(-50%, 20%) scale(1.75) skew(6deg);
            transform: translate(-50%, 20%) scale(1.75) skew(6deg);
  }
  50% {
    -webkit-transform: translate(-50%, 20%) scale(1.75) skew(-6deg);
            transform: translate(-50%, 20%) scale(1.75) skew(-6deg);
  }
  100% {
    -webkit-transform: translate(-50%, 20%) scale(1.75) skew(6deg);
            transform: translate(-50%, 20%) scale(1.75) skew(6deg);
  }
}

@-webkit-keyframes grassWind-far {
  0% {
    -webkit-transform: translate(-50%, 20%) scale(1.5) skew(-6deg);
            transform: translate(-50%, 20%) scale(1.5) skew(-6deg);
  }
  50% {
    -webkit-transform: translate(-50%, 20%) scale(1.5) skew(6deg);
            transform: translate(-50%, 20%) scale(1.5) skew(6deg);
  }
  100% {
    -webkit-transform: translate(-50%, 20%) scale(1.5) skew(-6deg);
            transform: translate(-50%, 20%) scale(1.5) skew(-6deg);
  }
}

@keyframes grassWind-far {
  0% {
    -webkit-transform: translate(-50%, 20%) scale(1.5) skew(-6deg);
            transform: translate(-50%, 20%) scale(1.5) skew(-6deg);
  }
  50% {
    -webkit-transform: translate(-50%, 20%) scale(1.5) skew(6deg);
            transform: translate(-50%, 20%) scale(1.5) skew(6deg);
  }
  100% {
    -webkit-transform: translate(-50%, 20%) scale(1.5) skew(-6deg);
            transform: translate(-50%, 20%) scale(1.5) skew(-6deg);
  }
}

@-webkit-keyframes grassWind-very-far {
  0% {
    -webkit-transform: translate(-50%, 20%) scale(1.25) skew(6deg);
            transform: translate(-50%, 20%) scale(1.25) skew(6deg);
  }
  50% {
    -webkit-transform: translate(-50%, 20%) scale(1.25) skew(-6deg);
            transform: translate(-50%, 20%) scale(1.25) skew(-6deg);
  }
  100% {
    -webkit-transform: translate(-50%, 20%) scale(1.25) skew(6deg);
            transform: translate(-50%, 20%) scale(1.25) skew(6deg);
  }
}

@keyframes grassWind-very-far {
  0% {
    -webkit-transform: translate(-50%, 20%) scale(1.25) skew(6deg);
            transform: translate(-50%, 20%) scale(1.25) skew(6deg);
  }
  50% {
    -webkit-transform: translate(-50%, 20%) scale(1.25) skew(-6deg);
            transform: translate(-50%, 20%) scale(1.25) skew(-6deg);
  }
  100% {
    -webkit-transform: translate(-50%, 20%) scale(1.25) skew(6deg);
            transform: translate(-50%, 20%) scale(1.25) skew(6deg);
  }
}

.landscape__grass {
  position: absolute;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  width: 100%;
  height: 100px;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.landscape__grass--close {
  bottom: 0;
  z-index: 4;
  -webkit-transform: translate(-50%, 20%) scale(2) skew(0deg);
          transform: translate(-50%, 20%) scale(2) skew(0deg);
  -webkit-filter: blur(0.5px) brightness(1.15);
          filter: blur(0.5px) brightness(1.15);
  -webkit-animation: grassWind-close 4s ease-in-out 0s infinite normal;
          animation: grassWind-close 4s ease-in-out 0s infinite normal;
}

.landscape__grass--normal {
  bottom: 11%;
  z-index: 3;
  -webkit-transform: translate(-50%, 20%) scale(1.75);
          transform: translate(-50%, 20%) scale(1.75);
  -webkit-filter: blur(0.3px) brightness(1);
          filter: blur(0.3px) brightness(1);
  -webkit-animation: grassWind-normal 4s ease-in-out 0s infinite normal;
          animation: grassWind-normal 4s ease-in-out 0s infinite normal;
}

.landscape__grass--far {
  bottom: 21%;
  z-index: 2;
  -webkit-transform: translate(-50%, 20%) scale(1.5);
          transform: translate(-50%, 20%) scale(1.5);
  -webkit-filter: blur(0.15px) brightness(0.85);
          filter: blur(0.15px) brightness(0.85);
  -webkit-animation: grassWind-far 4s ease-in-out 0s infinite normal;
          animation: grassWind-far 4s ease-in-out 0s infinite normal;
}

.landscape__grass--very-far {
  bottom: 30%;
  z-index: 1;
  -webkit-transform: translate(-50%, 20%) scale(1.25);
          transform: translate(-50%, 20%) scale(1.25);
  -webkit-filter: blur(0) brightness(0.7);
          filter: blur(0) brightness(0.7);
  -webkit-animation: grassWind-very-far 4s ease-in-out 0s infinite normal;
          animation: grassWind-very-far 4s ease-in-out 0s infinite normal;
}

.sun {
  position: absolute;
  width: 500px;
  top: 35%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sun__glow {
  z-index: 5;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 25%;
  left: 20%;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  -webkit-filter: blur(300px);
          filter: blur(300px);
  background: #ffd931;
}

@-webkit-keyframes birdsAnim {
  0% {
    top: 30%;
    left: -14%;
    -webkit-transform: scaleX(-1) rotate(20deg);
            transform: scaleX(-1) rotate(20deg);
  }
  100% {
    -webkit-transform: scaleX(-1) rotate(10deg);
            transform: scaleX(-1) rotate(10deg);
    top: 15%;
    left: 100%;
  }
}

@keyframes birdsAnim {
  0% {
    top: 30%;
    left: -14%;
    -webkit-transform: scaleX(-1) rotate(20deg);
            transform: scaleX(-1) rotate(20deg);
  }
  100% {
    -webkit-transform: scaleX(-1) rotate(10deg);
            transform: scaleX(-1) rotate(10deg);
    top: 15%;
    left: 100%;
  }
}

.birds {
  width: 15%;
  z-index: 0;
  position: absolute;
  -webkit-transform: scaleX(-1) rotate(10deg);
          transform: scaleX(-1) rotate(10deg);
  -webkit-animation: birdsAnim 40s linear 0s infinite;
          animation: birdsAnim 40s linear 0s infinite;
}
/*# sourceMappingURL=Landscape.css.map */