@keyframes tumbleweedAnim {
  from {
    transform: rotateZ(0deg);
    left: -15%;
  }

  to {
    transform: rotateZ(700deg);
    left: 100%;
  }
}

@keyframes tumbleweedAnim3dShadow {
  from {
    transform: rotateX(60deg) rotateZ(0deg);
    left: -15%;
  }

  to {
    transform: rotateX(60deg) rotateZ(700deg);
    left: 100%;
  }
}

@keyframes birdsAnim {
  0% {
    top: 30%;
    left: -14%;
    transform: scaleX(-1) rotate(20deg);
  }

  100% {
    transform: scaleX(-1) rotate(10deg);
    top: 15%;
    left: 100%;
  }
}

@keyframes welcomeCloudMoveFront {
  from {
    left: 0%;
  }

  to {
    left: 900%;
  }
}

@keyframes welcomeCloudMoveMiddle {
  from {
    left: 30%;
  }

  to {
    left: 600%;
  }
}

@keyframes welcomeCloudMoveBack {
  from {
    left: 50%;
  }

  to {
    left: 300%;
  }
}

@keyframes sunMove {
  from {
    left: 70%;
    top: 30%;
  }

  to {
    left: -30%;
    top: 55%;
  }
}

@keyframes birdsAnim {
  0% {
    top: 20%;
    left: -14%;
    transform: scaleX(-1) rotate(10deg);
  }

  100% {
    transform: scaleX(-1) rotate(10deg);
    top: 10%;
    left: 100%;
  }
}

@keyframes birdsAnimWelcome {
  0% {
    top: 0%;
    left: -75%;
  }

  100% {
    top: 35%;
    left: 100%;
  }
}

@keyframes grassWind-close {
  0% {
    transform: translate(0, 20%) scale(2) skew(-6deg);
  }

  50% {
    transform: translate(0, 20%) scale(2) skew(6deg);
  }

  100% {
    transform: translate(0, 20%) scale(2) skew(-6deg);
  }
}

@keyframes grassWind-normal {
  0% {
    transform: translate(0, 20%) scale(1.75) skew(6deg);
  }

  50% {
    transform: translate(0, 20%) scale(1.75) skew(-6deg);
  }

  100% {
    transform: translate(0, 20%) scale(1.75) skew(6deg);
  }
}

@keyframes grassWind-far {
  0% {
    transform: translate(0, 20%) scale(1.5) skew(-6deg);
  }

  50% {
    transform: translate(0, 20%) scale(1.5) skew(6deg);
  }

  100% {
    transform: translate(0, 20%) scale(1.5) skew(-6deg);
  }
}

@keyframes grassWind-very-far {
  0% {
    transform: translate(0, 20%) scale(1.25) skew(6deg);
  }

  50% {
    transform: translate(0, 20%) scale(1.25) skew(-6deg);
  }

  100% {
    transform: translate(0, 20%) scale(1.25) skew(6deg);
  }
}

//fast
@keyframes grassWind-close-fast {
  0% {
    transform: translate(0%, 20%) scale(2) skew(16deg);
  }

  25% {
    transform: translate(0%, 20%) scale(2) skew(24deg);
  }

  50% {
    transform: translate(0%, 20%) scale(2) skew(12deg);
  }

  75% {
    transform: translate(0%, 20%) scale(2) skew(27deg);
  }

  100% {
    transform: translate(0%, 20%) scale(2) skew(16deg);
  }
}

@keyframes grassWind-normal-fast {
  0% {
    transform: translate(0%, 20%) scale(1.75) skew(16deg);
  }

  25% {
    transform: translate(0%, 20%) scale(1.75) skew(21deg);
  }

  50% {
    transform: translate(0%, 20%) scale(1.75) skew(12deg);
  }

  75% {
    transform: translate(0%, 20%) scale(1.75) skew(24deg);
  }

  100% {
    transform: translate(0%, 20%) scale(1.75) skew(16deg);
  }
}

@keyframes grassWind-far-fast {
  0% {
    transform: translate(0%, 20%) scale(1.5) skew(16deg);
  }

  25% {
    transform: translate(0%, 20%) scale(1.5) skew(18deg);
  }

  50% {
    transform: translate(0%, 20%) scale(1.5) skew(12deg);
  }

  75% {
    transform: translate(0%, 20%) scale(1.5) skew(21deg);
  }

  100% {
    transform: translate(0%, 20%) scale(1.5) skew(16deg);
  }
}

@keyframes grassWind-very-far-fast {
  0% {
    transform: translate(0%, 20%) scale(1.25) skew(16deg);
  }

  25% {
    transform: translate(0%, 20%) scale(1.25) skew(15deg);
  }

  50% {
    transform: translate(0%, 20%) scale(1.25) skew(12deg);
  }

  75% {
    transform: translate(0%, 20%) scale(1.25) skew(18deg);
  }

  100% {
    transform: translate(0%, 20%) scale(1.25) skew(16deg);
  }
}

@keyframes cloudAnimOne {
  0% {
    right: 60%;
  }

  100% {
    right: 150%;
  }
}

@keyframes cloudAnimTwo {
  0% {
    right: 50%;
  }

  100% {
    right: 150%;
  }
}

@keyframes cloudAnimThree {
  0% {
    right: 35%;
  }

  100% {
    right: 150%;
  }
}

@keyframes cloudAnimFour {
  0% {
    right: 10%;
  }

  100% {
    right: 150%;
  }
}

@keyframes cloudAnimFive {
  0% {
    right: 5%;
  }

  100% {
    right: 150%;
  }
}

@keyframes nowhereMistAnimFront {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

@keyframes nowhereMistAnimBack {
  from {
    left: 0%;
  }

  to {
    left: -50%;
  }
}

.sun-item {
  position: absolute;
  width: 500px;
  top: 35%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;

  &__glow {
    z-index: 5;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 20%;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    filter: blur(300px);
    background: rgb(255, 234, 49);
  }
}

.moon {
  position: absolute;
  width: 175px;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: brightness(0.75);

  &--glow {
    filter: blur(30px) brightness(1.5);
    opacity: 0.6;
    z-index: 1;
  }
}

.birds {
  width: 200px;
  z-index: 1;
  position: absolute;
  transform: scaleX(-1) rotate(10deg);
  animation: birdsAnim 40s linear 0s infinite;
}

.welcome {
  .sun-item {
    left: 70%;
    top: 35%;
    animation: sunMove 250s linear 0s infinite;
    z-index: -5;

    &__sun {
      opacity: 0.9;
    }

    &__glow {
      top: 25%;
      left: 60%;
      filter: blur(350px);
      background: rgb(255, 157, 0);
      opacity: 0.8;
      z-index: 7;
    }
  }

  &__birds {
    width: 400px;
    z-index: -5;
    position: absolute;
    transform: scale(1.25) rotate(15deg);
    animation: birdsAnimWelcome 35s linear 0s infinite reverse;
  }

  &__welcome-cloud {
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100%;

    &--front {
      transform: translate(-50%, -50%) scaleX(1.25) scaleY(1) skew(10deg);
      top: 55%;
      opacity: 0.7;
      left: 30%;
      animation: welcomeCloudMoveFront 360s linear 0s infinite;
      z-index: -4;
    }

    &--middle {
      transform: translate(-50%, -50%) scaleX(1.75) scaleY(1.5) skewx(10deg);
      opacity: 0.9;
      left: 40%;
      animation: welcomeCloudMoveMiddle 360s linear 0s infinite;
      z-index: -5;
    }

    &--back {
      transform: translate(-50%, -50%) scaleX(2.5) scaleY(2);
      opacity: 1;
      left: 50%;
      animation: welcomeCloudMoveBack 360s linear 0s infinite;
      z-index: -7;
    }
  }
}

.stars {
  height: 70%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -5;
  opacity: .75;
}

.landscape {
  height: 100%;
  width: 100%;

  &__dry {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    transform-origin: 50% 100%;
    background: url('../img/dryland.png') no-repeat top/cover;
  }

  &__tumbleweed {
    position: absolute;
    bottom: 25%;
    left: -15%;
    transform-origin: 50% 50%;
    transform: rotateZ(0deg);

    &--item {
      animation: tumbleweedAnim 15s linear 0s infinite;
    }

    &--shadow {
      filter: blur(2px) brightness(0.2);
      animation: tumbleweedAnim 15s linear 0s infinite;
    }

    &--shadow3d {
      filter: blur(1px) brightness(0.1);
      transform-origin: 50% 50%;
      bottom: 15%;
      transform: rotateX(60deg) rotateZ(0deg);
      animation: tumbleweedAnim3dShadow 15s linear 0s infinite;
    }
  }

  .dark-clouds {
    width: 100%;
  }
}

.grass {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);

  &__grassland {
    background: no-repeat top;
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    filter: blur(1.1px);
  }


  &__item {
    height: 20%;
    position: absolute;
    transform-origin: 50% 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0;

    &--close {
      bottom: 0;
      z-index: 14;
      transform: translate(0, 20%) scale(2) skew(0deg);
      filter: blur(0.5px) brightness(1.15);
      animation: grassWind-close 4s ease-in-out 0s infinite normal;
    }

    &--normal {
      bottom: 11%;
      z-index: 13;
      transform: translate(0, 20%) scale(1.75);
      filter: blur(0.3px) brightness(1);
      animation: grassWind-normal 4s ease-in-out 0s infinite normal;
    }

    &--far {
      bottom: 21%;
      z-index: 12;
      transform: translate(0, 20%) scale(1.5);
      filter: blur(0.15px) brightness(0.85);
      animation: grassWind-far 4s ease-in-out 0s infinite normal;
    }

    &--very-far {
      bottom: 30%;
      z-index: 11;
      transform: translate(0, 20%) scale(1.25);
      filter: blur(0) brightness(0.7);
      animation: grassWind-very-far 4s ease-in-out 0s infinite normal;
    }
  }
}

.fast.grass__item {
  &--close {
    animation: grassWind-close-fast 2.5s ease-in-out 0s infinite normal;
  }

  &--normal {
    animation: grassWind-normal-fast 2.5s ease-in-out 0s infinite normal;
  }

  &--far {
    animation: grassWind-far-fast 2.5s ease-in-out 0s infinite normal;
  }

  &--very-far {
    animation: grassWind-very-far-fast 2.5s ease-in-out 0s infinite normal;
  }
}

@keyframes darkCloudAnimOne {
  0% {
    right: 20%;
  }

  100% {
    right: 100%;
  }
}

@keyframes darkCloudAnimTwo {
  0% {
    right: -50%;
  }

  100% {
    right: 100%;
  }
}

@keyframes darkCloudAnimThree {
  0% {
    right: -40%;
  }

  100% {
    right: 100%;
  }
}

@keyframes darkCloudAnimFour {
  0% {
    right: -130%;
  }

  100% {
    right: 100%;
  }
}

@keyframes darkCloudAnimFive {
  0% {
    right: -150%;
  }

  100% {
    right: 100%;
  }
}

.dark-clouds {
  &__cloud {
    position: absolute;
    z-index: 2;
    opacity: 0.9;
    top: -30%;
    width: 165vh;

    &:nth-child(1) {
      animation: darkCloudAnimOne 40s linear 0s infinite both;
    }

    &:nth-child(2) {
      animation: darkCloudAnimTwo 40s linear 0s infinite both;
    }

    &:nth-child(3) {
      animation: darkCloudAnimThree 40s linear 0s infinite both;
      transform: scale(1.1);
      z-index: 5;
    }

    &:nth-child(4) {
      animation: darkCloudAnimFour 40s linear 0s infinite both;
    }

    &:nth-child(5) {
      animation: darkCloudAnimFive 40s linear 0s infinite both;
      transform: scale(1.1);
      z-index: 5;
    }
  }
}

.bright-clouds {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;

  &__cloud {
    position: absolute;
    z-index: 10;
    opacity: 0.9;

    &:nth-child(1) {
      width: 300px;
      top: 18%;
      right: 60%;
      animation: cloudAnimOne 40s linear 0s infinite both;
    }

    &:nth-child(2) {
      width: 150px;
      top: 5%;
      right: 50%;
      z-index: 1;
      transform: scaleX(-1);
      animation: cloudAnimTwo 100s linear 0s infinite both;
    }

    &:nth-child(3) {
      width: 225px;
      top: 25%;
      right: 35%;
      z-index: 1;
      animation: cloudAnimThree 75s linear 0s both infinite;
    }

    &:nth-child(4) {
      width: 275px;
      top: 15%;
      right: 10%;
      z-index: 4;
      transform: scaleX(-1);
      animation: cloudAnimFour 70s linear 0s both infinite;
    }

    &:nth-child(5) {
      width: 150px;
      top: 33%;
      right: 5%;
      animation: cloudAnimFive 150s linear 0s both infinite;
    }
  }

  &--one {
    z-index: 2;

    .bright-clouds__cloud {
      transform: scale(-2) translate(-20%, -20%);
    }
  }

  &--two {
    z-index: 1;

    .bright-clouds__cloud {
      transform: scaleX(3) scaleY(3) translate(30%, 0%);
    }
  }
}

@keyframes rainAnim {
  from {
    background: url('../img/rain.png') 0% 1000%;
  }

  to {
    background: url('../img/rain.png') 100% 0%;
  }
}

@keyframes heavyRainAnim {
  from {
    background: url('../img/heavy-rain.png') 0% 1000%;
  }

  to {
    background: url('../img/heavy-rain.png') 100% 0%;
  }
}

.rain-item {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;

  &--front {
    transform: scale(2);
    filter: blur(2px);
    z-index: 14;
  }

  &--middle {
    transform: scale(1.5);
    z-index: 13;
  }

  &--back {
    z-index: 11;
  }
}

.rain {
  .rain-item {
    &--front {
      animation: rainAnim 8s linear 0s infinite;
    }

    &--middle {
      animation: rainAnim 12s linear 0s infinite;
    }

    &--back {
      animation: rainAnim 16s linear 0s infinite;
    }
  }
}

.heavy-rain,
.thunderstorm {
  .rain-item {
    &--front {
      animation: heavyRainAnim 8s linear 0s infinite;
    }

    &--middle {
      animation: heavyRainAnim 12s linear 0s infinite;
    }

    &--back {
      animation: heavyRainAnim 16s linear 0s infinite;
    }
  }
}

@keyframes lightingAnim {
  0% {
    opacity: 0;
  }

  44% {
    opacity: 0;
  }

  46% {
    opacity: 1;
  }

  48% {
    opacity: 0.75;
  }

  50% {
    opacity: 1;
  }

  52% {
    opacity: 0.75;
  }

  54% {
    opacity: 1;
  }

  56% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes lightingGlowAnim {
  0% {
    filter: brightness(1);
  }

  44% {
    filter: brightness(1);
  }

  46% {
    filter: brightness(3);
  }

  48% {
    filter: brightness(1.5);
  }

  50% {
    filter: brightness(3);
  }

  52% {
    filter: brightness(1.5);
  }

  54% {
    filter: brightness(3);
  }

  56% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(1);
  }
}

.thunderstorm__lighting {
  animation: lightingGlowAnim 5s linear 0s infinite;
}

.thunderstorm__lighting {
  position: absolute;
  max-height: 80vh;
  top: 0;
  z-index: 12;
  filter: drop-shadow(0px 0px 150px white) blur(0.5px);
  transform: translateX(-50%) scaleX(1.35);
  left: 50%;
  animation: lightingAnim 5s linear 0s infinite both;
}

.nowhere {
  &__planet {
    position: absolute;
    top: 10%;
    left: 10%;

    &--blur {
      filter: blur(20px);
    }
  }

  &__mist {
    position: absolute;
    bottom: 0;
    left: -35%;
    z-index: 6;
    width: 150%;
    height: 120%;
    transform: scaleY(-1);
    animation: nowhereMistAnim 30s linear 0s infinite;
  }
}

.dark-grass {
  &-2 {
    filter: brightness(0.45) blur(0px);
  }

  &-3 {
    filter: brightness(0.35) blur(0.25px);
  }

  &-4 {
    filter: brightness(0.25) blur(0.5px);
  }

  &-5 {
    filter: brightness(0.1) blur(0.75px);
  }

  &-1 {
    filter: brightness(0.01) blur(1px);
  }
}

.darkitem {
  filter: brightness(0.3);
}

.mist {
  &__mistitem {
    position: absolute;
    bottom: 0;
    left: -35%;
    z-index: 6;
    width: 150%;
    height: 130%;
    transform: scaleY(-1);
    opacity: 0.8;

    &--front {
      animation: nowhereMistAnimFront 25s linear 0s infinite;
      bottom: -20%;
      width: 200%;
      height: 110%;
    }

    &--back {
      animation: nowhereMistAnimBack 25s linear 0s reverse infinite;
    }
  }
}

@keyframes snowFallingAnim {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -500% 1000%;
  }
}

.snow-item {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/snow.png') repeat;
  background-size: 30%;
  background-position: 100% 0;
  animation: snowFallingAnim 100s linear 0s infinite;

  &--front {
    filter: blur(1.5px);
    z-index: 14;
    transform: scale(3);
  }

  &--middle {
    filter: blur(1px);
    z-index: 13;
    transform: scale(2);
  }

  &--back {
    z-index: 12;
    filter: blur(1.5px);
    transform: scale(1);
  }
}